
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #fff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
}
   

.course{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #03032f;
    transition: .4s;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.course a{
    text-decoration: none;
    color: #fff;
}
.course:hover{
    scale: 1.4;
    overflow: hidden;
}

.bg-video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	/* background: url(images/torre.jpg) no-repeat; */
	background-size: cover; 
}