body{
    font-family: Arial;
    background-color: rgb(112, 160, 112);
}

.container{
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h1{
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}

p{
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
    
}

#number{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #008000;
    text-align: center;
    color: #f8f8f8;
    font-size: 2rem;
    line-height: 60px;
}

button{
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
    display: block;
    cursor: pointer;
    font-size: 1.1remn;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 5px;
    transition: .4s;
}

button:hover{
    background-color: #013601;
}